<h1>Dialogue Detail</h1>
<p>
  <strong>Line:</strong> <%= @dialogue.line %>
</p>
<p>
  <strong>Movie:</strong> <%= @dialogue.movie %>
</p>
<p>
  <strong>Nov Veg:</strong> <%= @dialogue.nonveg %>
</p>

<%= link_to "All dialogues", dialogues_path %>
